Project204/obj/Debug/
Project204/bin/Debug/
/.vs/Project204/v14/.suo
Project204/bin/Debug/Project204.dll.mdb
Project204/bin/Debug/Project204.dll
Project204/bin/Debug/Project204.pdb
Project204/bin/Debug/Project204.Project204-Signed.apk
Project204/bin/Debug/Project204.Project204.apk
